# Dependencias
node_modules/
package-lock.json
npm-debug.log*

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log